# User data
users.json
chat.json

rooms.json
statistics.txt
data/
venv/
cert/
.env
__pycache__/*
.gitignore
pyvenv.cfg
.gitignore
stats/
logs/
Scripts/pythonw.exe
Scripts/python.exe
reports.txt
tshirt_requests.txt
.vscode/
*.db
*.db-shm
*.db-wal
